.info {
	padding: 1em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 0 0 1em 1em;
	box-shadow: 0 0.1em 0.1em 0 #eee;
	background-color: #fff;

	p {
		margin-left: 1em;
	}
}

.major-heading {
	margin-left: 2em;
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: 3em;
	color: rgba(0, 0, 0, 0.4);

	@media (min-width: 1600px) and (min-height: 800px) {
		margin-left: 5%;
	}
}

.enterprise {
	width: 90vw;
	margin: 0 2.5vw;
	height: 50vh;

	.title {
		position: fixed;
		transform: rotate(90deg) translateX(-50%);
		font-size: 1.25em;
		left: -5%;
		top: 50%;
		z-index: -1;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background: #571f4e;
			top: 50%;
			left: -100%;
		}

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background: #571f4e;
			top: 50%;
			right: -100%;
		}

		p {
			padding: 0.25em;
		}
	}
}

.me {
	opacity: 0;
	scale: 0.5;
	position: absolute;
	top: 15%;
	right: -35%;
	box-shadow: 0 0.1em 0.25em #eee;
	border-radius: 0.75em;

	@media (min-width: 1600px) and (min-height: 800px) {
		top: 5%;
		right: 5%;
		scale: 0.75;
	}
}

.publications {
	margin: 25vh 1.7vw 0 1.7vw;
	text-align: right;
	color: rgba(0, 0, 0, 0.6);

	p {
		margin: 1em 0;
		margin-left: 15vw;
		line-height: 2em;
		opacity: 0;
	}

	@media (min-width: 1600px) and (min-height: 800px) {
		text-align: left;
		margin-top: -15vh;
		margin-bottom: 10vh;

		h3 {
			margin-left: 5%;
		}

		p {
			margin-left: 5%;
			max-width: 50vw;
		}
	}
}

.skills {
	margin-left: 15%;

	ul {
		margin-left: 2em;
	}

	p {
		padding: 1em;
		margin-left: -1em;
	}

	.social {
		display: flex;
		justify-content: space-between;
		width: 2.25em;
		color: #571f4e;
	}

	@media (min-width: 1600px) and (min-height: 800px) {
		margin-left: 5%;

		p {
			max-width: 50vw;
			line-height: 2em;
		}
	}
}

.experience {
	text-align: right;
	z-index: 900;

	h3 {
		margin-top: 1em;
		margin-right: 2.5%;
	}

	.ml {
		margin-right: 2.5%;
		margin-left: 15%;
	}

	.bg-white {
		background-color: #fff;
	}
}

a {
	color: #571f4e;
}