@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  font-family: "Playfair Display", serif;
}
body {
  padding-top: 50%;
}
@media (min-width: 1600px) and (min-height: 800px) {
  body {
    padding-top: 10%;
  }
}
